.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.modal-content table thead th {
    background-color: #ffbb62;
    padding: 10px; /* Adjust the value as needed */
   
}


